<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="css/partenariat.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <title>demande de partenariat </title> 
</head>
<body>
    <div class="container">
        <header>demande de partenariat</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">détaille du propriétaire</span>

                    <div class="fields">
                       <div class="input-field">
                            <label>Prénom</label>
                            <input type="text" placeholder="entrez votre Prénom" required>
                        </div>
                        <div class="input-field">
                            <label>Nom</label>
                            <input type="text" placeholder="entrez votre Nom" required>
                        </div>

                        <div class="input-field">
                            <label>Date de Naissance</label>
                            <input type="date" placeholder="entrez votre Date de Naissance " required>
                        </div>

                        <div class="input-field">
                            <label>Adresse e-mail</label>
                            <input type="text" placeholder="entrez votre Adresse e-mail" required>
                        </div>

                        <div class="input-field">
                            <label>Numéro de Portable</label>
                            <input type="number" placeholder="entrez votre Numéro de Portable" required>
                        </div>

                        <div class="input-field">
                            <label>Mot de Passe</label>
                           <input type="Password" placeholder="entrez votre Mot de Passe" required>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <span class="title">détaille de l'agence</span>
 <div class="fields">
                       <div class="input-field">
                            <label>Nom de L'entreprise</label>
                            <input type="text" placeholder="Nom de L'entreprise" required>
                        </div>
                        <div class="input-field">
                            <label>siége de L'entreprise</label>
                            <input type="text" placeholder=" siége de L'entreprise" required>
                        </div>
<div class="input-field">
                            <label>Numéro de Contact</label>
                            <input type="number" placeholder="  Numéro de contact " required>
                        </div>

                        <div class="input-field">
                            <label>Adresse e-mail</label>
                            <input type="text" placeholder=" Adresse e-mail" required>
                        </div>

                        <div class="input-field">
                            <label>Nombre de succursales</label>
                            <input type="number" placeholder=" Nombre de succursales" required>
                        </div>

                        <div class="input-field">
                            <label>nombre de flotte</label>
                           <input type="number" placeholder=" nombre de flotte" required>
                        </div>
                    </div>
                    
                    
  
                    <button class="nextBtn">
                        <span class="btnText">Suivant</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>

            <div class="form second">
                <div class="details address">
                    <span class="title">Registre du commerce</span>

                   <div class="fields" style=" display: flex; align-items: center; align-content: center; justify-content: center;">
                        
                           <div class="drop-zone">
    <span class="drop-zone__prompt">Choisir un Fichier</span>
    <input type="file" name="myFile" class="drop-zone__input">
  </div>

                      
                       </div>
                </div>

                <div class="details family">
                    <span class="title">Logo</span>

                    <div class="fields" style=" display: flex; align-items: center; align-content: center; justify-content: center; ">
                        
                           <div class="drop-zone">
    <span class="drop-zone__prompt">Choisir un Fichier</span>
    <input type="file" name="myFile" class="drop-zone__input">
  </div>

                      
                       </div>
                    </div>

                    <div class="buttons">
                        <div class="backBtn">
                            <i class="uil uil-navigator"></i>
                            <span class="btnText">Back</span>
                        </div>
                        
                        <button class="sumbit">
                            <span class="btnText">Envoyer</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>

    <script src="js/partenariat.js"></script>
</body>
</html>