<!DOCTYPE html>
<html>
<head>
    <title>Custom Radio Button</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
          {% load static %}
    <link rel="stylesheet" href="{% static 'css/radio.css'%}">
</head>
<body>

 <div class="form-box">
     <label>
         <input type="radio" name="categorie" value="Petites" class="checkbox">
         <div class="circle"></div>
         <span>Petites</span>
     </label>
     <label>
         <input type="radio" name="categorie" value="Moyennes"  class="checkbox" ">
         <div class="circle"></div>
         <span>Moyennes</span>
     </label>
     <label>
         <input type="radio" name="categorie" value="Larges"  class="checkbox">
         <div class="circle"></div>
         <span>Larges</span>
     </label>
      <label>
         <input type="radio" name="categorie" value="Premium"  class="checkbox">
         <div class="circle"></div>
         <span>Premium</span>
     </label>
     <label>
         <input type="radio" name="categorie" value="Monospaces"  class="checkbox">
         <div class="circle"></div>
         <span>Monospaces</span>
     </label>
     <label>
         <input type="radio" name="categorie" value="SUV"  class="checkbox">
         <div class="circle"></div>
         <span>SUV</span>
     </label>
 </div>

</body>
</html>

